html, body{
    position: relative;
    overflow: hidden;
}

body{
    height: 100vh;
    background: linear-gradient(#000, #000d 5%, #0000), url("../imagens/1241167.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 20px 128px 50px 128px;
    animation: zoom 1.5s;
}

@media (max-width:768px){
    body{
        padding: 30px 30px 25px 30px;
        background-image: url("../imagens/1241167.png");
        background-color: #0006;
        background-blend-mode: darken;
        background-position: 72%;
    }
}

@keyframes zoom{
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}