main{
    flex-grow: 1;
    display: flex;
}

.main-div{
    color: #fff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-div h1{
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 400;
}

.main-div p{
    max-width: 700px;
    text-align: justify;
}

.titulo-filme{
    font-size: 2.4rem;
    font-style: italic;
    color: rgb(155, 223, 255);
    text-transform: uppercase;
    margin-top: -30px;
}

.sinopse{
    font-size: 1.1rem;
    width: 550px;
    font-weight: 100;
    margin-top: 35px;
}

.filme-botao{
    height: 50px;
    width: 300px;
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.social-div{
    width: 48px;
}

.social-div ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-div li {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.social-div i{
    font-size: 1.5rem;
}

.social-div li:hover{
    background-color: rgba(0, 0, 255, 0.3);
    border-color: rgba(0, 0, 255, 0.3);
}

@media (max-width:768px) {
    .main-div{
        justify-content: flex-end;
        margin-bottom: 50px;
    }
    .main-div h1{
        font-size: 4rem;
    }
    .main-div .titulo-filme{
        font-size: 1.4rem;
        transform: translateY(15px);
        margin-bottom: 20px;
    }
    .sinopse{
        display: none;
    }
    .social-div{
        display: none;
    }
}